{% extends "core/base_admin.html" %}
{% load i18n humanize staticfiles cache auth_tokens %}

{% block app_admin_nav %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="transaction-log">
            {% url 'billing:transaction_log' as transaction_log_url %}
            <a href="{{ transaction_log_url }}">{% trans "Transactions" %}</a>
        </li>
        <li role="presentation" class="wallet">
            <a href="{% url 'cashout:home' %}">
                {% trans "Wallet" %}
            </a>
        </li>
{#        <li role="presentation" class="community">#}
{#            {% url 'ikwen:community' as community_url %}#}
{#            <a href="{{ community_url }}">{% trans "Community" %}</a>#}
{#        </li>#}
    </ul>
    <div class="divider"></div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="artists">
            {% url 'mediastore:artist_list' as transaction_log_url %}
            <a href="{{ transaction_log_url }}">{% trans "Artists" %}</a>
        </li>
        <li role="presentation" class="albums">
            <a href="{% url 'mediastore:album_list' %}">
                {% trans "Albums" %}
            </a>
        </li>
        <li role="presentation" class="songs">
            {% url 'mediastore:song_list' as songlist_url %}
            <a href="{{ songlist_url }}">{% trans "Songs" %}</a>
        </li>
    </ul>
{% endblock %}